/**
 * Content stylesheet
 *
 * @author Mathis CHAPUIS and Pierre HUBERT
 */

 /* Mise en forme des contenus des pages */

/* Communs a toute les pages */

p {
	text-align: justify;
}

h1, h2, h3{
	text-align: center;
	font-style: italic;
}

h1 {
	text-decoration: underline;
	color: var(--title-green);
	font-size: 2em;
}

h2 {
	color: var(--light-green);
	font-size: 1.5em;
}

h3 {
	margin-top: 50px;
}

a {
	color: var(--light-green);
}


.page-content {
	padding: 10px;
	flex: 1;
}

/* Page d'accueil */

#home-page-content {
	background: url(../img/field.jpg);
	text-align: center;
	display: flex;
	flex-direction: column;
}

#home-page-content .home-hero {
	flex: 1;
}

#home-page-content .home-info-frame-bg {
	position: fixed;
	background-color: #000000b3;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s;
	z-index: -2;
	display: flex;
}

#home-page-content .home-info-frame-bg:target {
	z-index: 1;
	opacity: 1;
}

#home-page-content .home-info-frame {
	width: 100%;
	background-color: white;
	margin: auto;
	max-width: 600px;
	overflow: auto;
	max-height: 100%;
}

#home-page-content h1 {
	font-style: inherit;
	text-decoration: none;
	color: white;
}

#home-page-content p {
	text-align: center;
}

#home-page-content .home-info-frame p {
    text-align: justify;
    padding: 0 1em;
}

#home-page-content .learn-more-btn, .go-index-btn, .go-product-btn {
	background-color: var(--light-green);
	width: 130px;
	margin: auto;
	line-height: 33px;
	margin-top: 30px;
	color: white;
	display: block;
	text-decoration: none;
	max-width: 30%;
}

.go-index-btn, .go-product-btn {
	margin-bottom: 20px;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.frame-button {
	display: flex;
	align-items: center;
}

.search-bar {
	flex: 0;
	border: 1px var(--light-green) solid;
	padding: 5px;
	border-radius: 0px;
	position: relative;
	transition: width 1s;
	width: calc(30%);
}

.search-bar:focus {
	border-color: var(--dark-green);
	z-index: 6;
	width: 100%;
}

.search-bar ~ input[type="submit"] {
	display: none;
}

.home-search-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;
	background-color: #0009;
	top: 0px;
	left: 0px;
	transition: opacity 1s;
}

.search-bar:focus ~ .home-search-bg {
	z-index: 5;
	opacity: 1;
}

.form-search {
	text-align: right;
}

.best-product-image {
	width: 95%;
	margin: auto;
}

@media screen and (max-width: 491px){

	.search-bar {
		width: 100%;
	}

	.best-product-section,.welcome-and-best-product{
		width: 95% !important;
		margin: auto;
		flex-direction: column;
	}
	
	.welcome {
		width: 95% !important;
	}

	.home-info-frame{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

/* Page About us */

/* Page contact */

#sent:target ~ .contact-form {display: none;}
#sent:target {
	display: block;
}
#sent {
	display: none;
	text-align: center;
	max-width: 400px;
	margin: auto;
}

#sent p {
	text-align: center;
}


.contact-form,
.contact-form-message,
.contact-content,
.contact-form-button {
	max-width: 400px;
	margin: auto;
}

.contact-list,
.contact-list-element {
	padding-left: 3px;
	margin-left: 5px;

}

.contact-form-input {
	max-width: 400px;
	margin: auto;
	margin-bottom: 20px;
}

.contact-form-input,
.contact-form-message {
	margin-bottom: 20px;
}

.contact-form-input input {
	width: 95%;
}

.contact-form-message textarea{
	width: 98%;
}

.contact-form-button {
	text-align: center;
}

.contact-form-button button {
	background-color: var(--light-green);
	border-radius: 4px;
}

.thank {
	font-style: italic;
}

/* General product page */
.product-page .product-presentation {
	display: flex;
	align-items: center;
}

.product-presentation {
	display: inline-flex;
}

.product-page .product-image {
	width: 50%;
	display: inline-block;
}

.product-page .product-description {
	width: 45%;
	display: inline-block;
	padding: 10px;
}

.product-page .product-description .product-price {
	text-align: center;
	font-weight: bold;
	color: var(--light-green);
}

.product-page .product-description .product-small-description {
	text-align: center;
	font-size: 0.8em;
	margin-top: 15px;
}


.product-page .product-description .add-to-cart-button {
	max-width: 132px;
	margin: auto;
	background-color: var(--light-green);
	padding: 5px;
	color: white;
	text-align: center;
	margin-top: 30px;
	display: block;
	text-decoration: none;
}


@media screen and (max-width: 491px){
	
	.product-page .product-presentation {
		flex-direction: column;
	}

	.product-page, .product-image,
	.product-page, .product-description {
		max-width: none;
		width: 95% !important;
		margin: auto;
	}

	.product-page .image-selector .large-container {
		height: auto !important;
	}
}

/* Product comments */
.product-comments {
	padding-top: 20px;
}

.comment {
	display: block;
	margin-bottom: 10px;
	padding: 5px;
}

.comment .comment-author {
	font-style: italic;
	display: inline-block;
}

.comment .comment-title {
	font-weight: bold;
	display: inline-block;
}

.comment .comment-content {
	display: block;
	text-align: justify;
}

.comment-form {
	text-align: justify;
	max-width: 300px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
}

.comment-form input,
.comment-form textarea {
	width: 100%;
}


/* Page sauterelles product */
.declinaison-selector {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.declinaison-selector label {
	display: inline-flex;
	flex-direction: row;
}

.declinaison-selector a {
	margin-right: 5px;
}

.declinaison-selector a::before {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 200px;
	content: ' ';
	padding: 0px 8px 0px 8px;
	height: 0.5em;
	position: relative;
	margin-right: 5px;
}

.grasshopper-product-page:target .dead-grasshopper-link ,
.grasshopper-product-page .dead-grasshopper-link ~ a {
	font-weight: bold;
	color: var(--ligth-green);
	text-decoration: underline;
}

.grasshopper-product-page:target .dead-grasshopper-link ~ a,
.grasshopper-product-page .dead-grasshopper-link {
	font-weight: normal;
	color: black;
	text-decoration: none;
}

.grasshopper-product-page:target .dead-grasshopper-link::before,
.grasshopper-product-page .dead-grasshopper-link ~ a::before {
	background: lightgreen;
}

.grasshopper-product-page:target .dead-grasshopper-link ~ a::before,
.grasshopper-product-page .dead-grasshopper-link::before {
	background: black;
}

.grasshopper-product-page .dead-grasshopper-placeholder {
	width: 50%;
	display: none;
}

.grasshopper-product-page:target .dead-grasshopper-placeholder {
	display: inline-block;	
}

.grasshopper-product-page:target .image-selector {
	display: none;
}

.grasshopper-product-page .dead-grasshopper-placeholder img {
	max-width: 100%;
}

.grasshopper-product-page .alive-grasshopper-description,
.grasshopper-product-page:target .dead-grasshopper-description {
	display: inline-block;
}

.grasshopper-product-page:target .alive-grasshopper-description,
.grasshopper-product-page .dead-grasshopper-description {
	display: none;
}


.product-added-to-cart-notice {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000000b3;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.product-added-to-cart-notice:target {
	display: flex;
}

.product-added-to-cart-message-box {
	background-color: white;
    padding: 10px;
}

.product-added-to-cart-message-box h2 {
	
}


.grasshopper-product-page:target .comment-alive,
.grasshopper-product-page .comment-dead {
	display: none;
}

.grasshopper-product-page .comment-alive,
.grasshopper-product-page:target .comment-dead {
	display: block;
}


@media screen and (max-width: 491px){

	.declinaison-selector label {
		flex-direction: column-reverse;
	}

	.declinaison-selector a {
		display: block;
		margin-bottom: 5px;
	}

}


/* Cart page */
.products-list .product img {
	width: 134px;
	max-width: 100%;
	float: left;
	margin-right: 10px;
}

.products-list .product .info-container {
	display: inline-flex;
	flex-direction: column;
}

.products-list .product input {
	background-color: var(--light-green);
	border: none;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 50px;
	margin-bottom: 30px;
	line-height: 11px;
	color: #ffff;
}

.products-list .product .product-title {
	font-weight: bold;
}

.products-list .product .product-price {
	font-style: italic;
}

.cart-col-two {
	display: flex;
}

.cart-reductions,
.cart-carrier {
	padding: 10px;
	width: 50%;
}

.cart-reductions input {
	width: 100%;
}

.cart-carrier {
	max-width: 50%;
}

.cart-carrier-top-msg {
	text-align: center;
}

.cart-carrier li {
	list-style: none;
}

.cart-carrier input ~ div {
	display: none;
}

.cart-carrier input:checked ~ div {
	display: block;
}

.cart-carrier input ~ div input,
.cart-carrier input ~ div select {
	width: 100%;
}

.shop-order-button {
	text-align: right;
}

.shop-order-button input {
	background-color: var(--light-green);
	border: none;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 50px;
	margin-bottom: 30px;
	padding: 10px;
	color: #ffff; 
}


#submit {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#submit:target {
	display: block;
}

#submit img {
	width: 100%;
	height: 100%;
}

#submit-two,
#submit-three {
	display: none;
	width: 50px;
	height: 50px;
	z-index: 4;
	position: fixed;
}

#submit-two {
	animation: animateblock 10s infinite;
}

#submit-three {
	animation: animateblocktwo 10s infinite;
}

#submit:target ~ #submit-two {
	display: block;
}


#submit:target ~ #submit-three {
	display: block;
}

@keyframes animateblock {

	from {
		top: 0%;
		left: 0%;
	}

	25% {
		top: 50%;
		left: 50%;
	}

	50% {
		top: 100%;
		left: 100%;
	}

	75% {
		top: 50%;
		left: 50%;
	}

	to {
		top: 0%;
		left: 0%;
	}

}

@keyframes animateblocktwo {

	from {
		top: 100%;
		left: 0%;
	}

	25% {
		top: 50%;
		left: 50%;
	}

	50% {
		top: 0%;
		left: 100%;
	}

	75% {
		top: 50%;
		left: 50%;
	}

	to {
		top: 100%;
		left: 0%;
	}

}

@media screen and (max-width: 491px){

	.products-list .product img {
		float: none;
		width: 100%;
	}

	.products-list .product .info-container {
		display: flex !important;
	} 

	.products-list .product div {
		text-align: center;
	}

	.cart-col-two {
		display: block;
	}

	.cart-col-two .cart-reductions, 
	 .cart-col-two .cart-carrier {
	 	width: 90%;
	 	max-width: 90%;
	 	margin: auto;
	}

	.cart-col-two li {
		margin-left: -50px;
	}

	.shop-order-button {
		text-align: center;
	}
}


/* Résultats de recherche */
.search-form-on-search-results {
	display: flex;
	padding: 10px 30px 20px 30px;
}
.search-form-on-search-results input[type="text"] {
	flex: 1;
}

.search-form-on-search-results input[type="submit"] {
	margin-left: 5px;
}


.search-products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.search-products-list .product {
	margin-bottom: 20px;
	padding: 5px;
	border: 1px transparent solid;
	transition: border 1s;
	display: flex;
	flex-direction: column;
}

.search-products-list .product:hover {
	border: 1px var(--dark-green) solid;
	box-shadow: 2px 2px 0px var(--light-green);
}

.search-products-list .product img,
.search-products-list .product .product-price,
.search-products-list .product .product-name,
.search-products-list .product .product-link {
	text-align: center;
	margin-bottom: 5px;
}

.search-products-list .product img {
	max-width: 180px;
	margin: auto;
	display: block;
}

.search-products-list .product .product-price {
	color: var(--title-green);
	font-weight: bold;
}

.search-products-list .product .product-name {
	
}

.search-products-list .product .product-link {
	background-color: var(--green);
	color: white;
	padding: 5px;
	opacity: 0;
	cursor: pointer;
	transition: opacity 0.2s;
	text-decoration: none;
}

.search-products-list .product:hover .product-link {
	opacity: 1;
}

.not-available-yet-product-notice {
	z-index: -1;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000e6;
	color: white;
	text-align: center;
	padding-top: 10%;
	transition: opacity 1s;
}

.not-available-yet-product-notice:target {
	z-index: 2;
	opacity: 1;
}

.not-available-yet-product-notice p {
	text-align: center;
}

.not-available-yet-product-notice .close-btn {
	background-color: var(--light-green);
	padding: 5px;
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 490px) {
	.search-form-on-search-results {
		padding: 0px 0px 20px 0px;
	}
}

/* Spacial product page */

.special-products-list {
	display: flex;
	flex-direction: column;
}

.special-products-list .product {
	display: flex;
	padding-bottom: 10px;
}

.special-products-list .product img {
	max-width: 260px;
}

.special-products-list .product .product-price {
	font-style: italic;
}

.special-products-list .product .product-name {
	color: var(--dark-green);
	font-weight: bold;
}

.special-products-list .product .special-product-description {
	padding: 2px;
}

@media screen and (min-width: 641px){
	.special-products-list .product img {
		margin-right: 10px;
	}
}

@media screen and (max-width: 640px){
	.special-products-list .product {
		flex-direction: column;
		text-align: center;
	}

	.special-products-list .product img {
		width: 90%;
	}

	.special-products-list .product .product-price,
	.special-products-list .product .product-name {
		text-align: center;
	}
}