/**
 * Head stylesheet
 *
 * @author Pierre HUBERT
 */

:root{
	--green: #238955;
	--light-green: #2fb670;
	--dark-green: #154c30;
	--title-green: #1a653e;
}

html, body {
	height: 100%;
	margin: 0px 0px 0px 0px;
}

body {
	background-image: url(../img/bg-grass.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.page-wrapper {
	min-height: 90%;
	max-width: 1000px;
	margin: auto;
	border: 1px solid var(--green);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: #ffffffe6;
}

.site-logo {
	padding: 10px;
	padding-left: 20px;
}

.site-logo a {
	font-size: 3em;
	text-decoration: none;
	color: black;
}

.site-logo img {
	float: left;
	height: 1em;
	margin-right: 2px;
}

.menu {
	height: 40px;
	background-color: var(--green);
	padding-left: 10px;
	padding-right: 10px;
}

.menu [class$="-links"] {
	height: inherit;
	display: inline-block;
}

.menu .right-links {
	float: right;
	margin-right: 5px;
}

.menu .menu-item {
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	height: inherit;
	display: inline-block;
}

.menu .menu-item:hover {
	background-color: #fff9;
	color: black;
}

@media screen and (min-width: 609px){
	.mobile-menu-link {
		display: none;
	}
}

@media screen and (max-width: 608px) {

	.site-logo {
		text-align: center;
		padding: 5px;
	}

	.site-logo a {
		font-size: 1em;
	}

	.site-logo img {
		float: none;
	}

	.menu {
		height: unset;
	}

	.menu .mobile-menu-link {
		display: block;
		text-align: center;
		cursor: pointer;
		color: white;
		padding: 2px;
	}

	.menu .mobile-menu-link:hover ~ nav,
	.menu nav:hover {
		height: unset !important;
	}

	.menu [class$="-links"] {
		display: block;
	}

	.menu .menu-item {
		display: block;
	}

	.menu nav {
		height: 0px;
		overflow: hidden;
	}

	.menu .right-links {
		float: unset;
	}

}