/**
 * Image viewer
 *
 * @author Pierre HUBERT
 */

.image-selector {
	border: 1px solid var(--dark-green);
}

.image-selector .large-container {
	height: 328px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.image-selector .large {
	max-width: 100%;
	display: none;

}

.image-selector .thumb {
	width: 50px;
	vertical-align: middle;
}

.image-selector .large:target {
	display: block;
}

.image-selector .large.default-image {
	display: block;
}

.image-selector .large:target ~ .default-image {
	display: none;
}