<section class="page-content" data-title="Home page" id="home-page-content">
	<div>
		<form class="form-search" method="get" action="recherche.html">
			<input class="search-bar" type="search" name="search" placeholder="Rechercher" />
			<input type="submit" value="Rechercher">
			<div class="home-search-bg"></div>
		</form>
	</div>


	<!-- Information pane -->
	<div id="info_frame" class="home-info-frame-bg">
		<div class="home-info-frame">
			<div class="welcome-and-best-product">
				<div class="welcome">
					<h2>Bienvenue</h2>
					<p class="index-text">Bonjour à toi jeune amateur de sauterelles en herbe ! Comme le disait Thierry Sauterelle, le fondateur de Grasshopper Shop : "Only perfection counts for us. We want the best for our grasshoppers. We want the best for you". Pour les non-anglophiles, nous vendons des sauterelles, mais avant tout, nous avons une passion.</p>

					<p class="index-text">Bienvenue sur Grasshopper Shop, votre site de vente de sauterelle dans toute la France !</p>
				</div>

				<section class="best-product-section">
					<h2>Notre meilleur produit</h2>
					<a href="product-sauterelle.html#large-1">
						<img alt="Image best product" src="assets/img/grasshopper-1.jpg" class="best-product-image">
					</a>
					<div class="best-product-title">
						<a href="product-sauterelle.html#large-1">Sauterelle vivante <small>5€ le kilo</small>
						</a>
					</div>
					<p class="index-text">Vous aussi optez pour l'élevage de cette sauterelle à prix bas ! Grâce au code <span class="important">"SAUTERELLE"</span>, économisez 10% sur tous vos achats ! Disponible seulement pendant la semaine de la sauterelle, profitez-en !</p>
				</section>
			</div>
			<div class="frame-button">
				<a class="go-index-btn" href="#">Fermer</a>
				<a class="go-product-btn" href="product-sauterelle.html">Voir les autres sauterelles</a>
				<a class="go-product-btn" href="special-products.html">Voir les produits spéciaux</a>
			</div>
		</div>
	</div>
	

	<!-- Home page content -->
	<div style="flex:2;"></div>

	<div class="home-hero">
		<h1>Les sauterelles évitent les querelles.</h1>

		<p>L'avenir n'appartient plus à ceux qui se lèvent tôt. Il appartient désormais à ceux qui consomment des sauterelles.</p>

		<a class="learn-more-btn" href="#info_frame">En savoir plus</a>
	</div>
	<div style="flex:3;"></div>

	<!---->

</section>

<!-- We shall create an Easter Egg with the numbers (on this page or another one). If we translate then numbers with a code or a key, it makes the word "SAUTERELLE" or "GRASSHOPPER" -->

<!-- Add some other hidden contents and maybe references like the previous one -->