<section class="page-content" data-title="Votre panier">
	<h2>Votre panier</h2>

	<div class="products-list">
		<h3>Vos produits</h3>

		<!-- Sample product -->
		<div class="product">
			<img alt="Image du produit" src="assets/img/grasshopper-3.jpg" />
			<div class="info-container">
				<div class="product-title">Sauterelle vivante</div>
				<div class="product-price">5€</div>
				<div class="product-quantity">Quantity: 1</div>
				<div class="product-description">Sauterelles vivantes élevées en plein air.</div>
				<div class="product-remove-link"><input type="button" name="remove" value="Retirer les produits du panier" /></div>
			</div>
		</div>

	</div>

	<div class="cart-col-two">

		<div class="cart-reductions">
			<h3>Code promotionnel</h3>
			<p>Si vous avez un code promotionnel, saisissez-le ici:</p>
			<p><input type="text" placeholder="Votre code promotionnel" /></p>
		</div>

		<div class="cart-carrier">
			<h3>Livraison</h3>
			<p class="cart-carrier-top-msg">Différents moyens de livraison sont à votre disposition: </p>
			<ul>
				<li>
					<input type="radio" name="carrier" value="home">
					Livraison à domicile

					<!-- Home carrier -->
					<div class="home-carrier">
						<p>Veuillez nous donner votre adresse de livraison:</p>

						<p><label>
							Votre nom complet : <br />
							<input type="text" name="name" placeholder="Votre nom" />
						</label></p>

						<p><label>
							Numéro de porte : <br /> 
							<input type="text" name="num_port" placeholder="Numero de porte" />
						</label></p>


						<p><label>
							Complément :<br />
							<select>
								<option>AUCUN</option>
								<option>BIS</option>
								<option>TER</option>
							</select>
						</label></p>

						<p><label>
							Code postal : <br />
							<input type="text" name="postal_code" placeholder="Code postal" />
						</label></p>

						<p><label>
							Ville : <br />
							<input type="text" name="num_port" placeholder="Numero de porte">
						</label></p>

						<p><label>
							Pays <br />
							<select>
								<option>France</option>
								<option>Canada</option>
								<option>Suisse</option>
							</select>
						</label></p>
					</div>
				</li>

				<li>
					<input type="radio" name="carrier" value="relay">
					Livraison en point relais

					<!-- Relay carrier -->
					<div class="relay-carrier">
						<p><label>
								Veuillez choisir un point relais parmis ceux disponibles dans la liste ci-dessous :
								<select>
									<option>Relais du port, LYON</option>
									<option>Relais du port, PARIS</option>
									<option>Relais de alouettes, Saint-Laurent-La-Conche</option>
									<option>Bar tabac de Valeille</option>
								</select>
							</label>
						</p>
					</div>

				</li>
			</ul>

		</div>
	</div>

	<div class="shop-order-button">
		<form method="get" action="#submit">
			<input type="submit" value="Commander" />
		</form>
	</div>

	<div id="submit">
		<img alt="Gif vous ne passerez pas" src="assets/img/vousnepasserezpas.gif" />
	</div>

	<img id="submit-two" src="assets/img/logo.png" alt="Beautiful image" />
	<img id="submit-three" src="assets/img/logo.png" alt="Beautiful image" />

</section>