<section class="page-content" data-title="Recherche">
	<h1 class="title">R&eacute;sultats de recherche</h1>

	<div class="search-form-on-search-results">
		<input type="text" name="recherche" placeholder="Votre recherche" value="Sauterelles" />
		<input type="submit" value="Rechercher" />
	</div>

	<div class="search-products-list">
		
		<!-- First product -->
		<div class="product">
			<img alt="Image produit sauterelle 3" src="assets/img/grasshopper-3.jpg" />
			<div class="product-price">5€ / kilo</div>
			<div class="product-name">Sauterelles vivantes</div>
			<a class="product-link" href="product-sauterelle.html#large-3">Ouvrir</a>
		</div>

		<!-- Second product -->
		<div class="product">
			<img alt="Image sauterelle Star Wars" src="assets/img/sw-grasshopper.jpg" />
			<div class="product-price">42€ / unité</div>
			<div class="product-name">Sauterelle Star Wars</div>
			<a class="product-link" href="special-products.html">Ouvrir</a>
		</div>

		<!-- Third product -->
		<div class="product">
			<img alt="Image produit sauterelle 1" src="assets/img/grasshopper-1.jpg" />
			<div class="product-price">5€ / kilo</div>
			<div class="product-name">Sauterelles vivantes</div>
			<a class="product-link" href="product-sauterelle.html#large-1">Ouvrir</a>
		</div>

		<!-- Fourth product -->
		<div class="product">
			<img alt="Image produit bbq" src="assets/img/bbq.jpg" />
			<div class="product-price">75€</div>
			<div class="product-name">Barbecue à sauterelles</div>
			<a class="product-link" href="#not_available_product">Ouvrir</a>
		</div>

		<!-- Fifth product -->
		<div class="product">
			<img alt="Image université pour sauterelle" src="assets/img/grasshopper-university.jpg" />
			<div class="product-price">4000€ / an</div>
			<div class="product-name">Université pour sauterelles</div>
			<a class="product-link" href="special-products.html">Ouvrir</a>
		</div>

		<!-- Sixth product -->
		<div class="product">
			<img alt="Image produit sauterelle 2" src="assets/img/grasshopper-2.jpg" />
			<div class="product-price">5€ / kilo</div>
			<div class="product-name">Sauterelles vivantes</div>
			<a class="product-link" href="product-sauterelle.html#large-2">Ouvrir</a>
		</div>

		<!-- Sixth product -->
		<div class="product">
			<img alt="Image produit morte" src="assets/img/dead-grasshopper.jpg" />
			<div class="product-price">5€ / kilo</div>
			<div class="product-name">Sauterelles pré-grillées</div>
			<a class="product-link" href="product-sauterelle.html#dead">Ouvrir</a>
		</div>

		<!-- Eighth product -->
		<div class="product">
			<img alt="Image vivarium" src="assets/img/vivarium.jpg" />
			<div class="product-price">79€</div>
			<div class="product-name">Vivarium pour sauterelles</div>
			<a class="product-link" href="#not_available_product">Ouvrir</a>
		</div>
	</div>
	
	<!-- Not available yet product notice -->
	<div class="not-available-yet-product-notice" id="not_available_product">
		<h2>Ce produit n'est pas encore disponible.</h2>
		<p>Veuillez revenir ici ultérieurement...</p>
		<p><a class="close-btn" href="#close">Fermer</a></p>
	</div>

</section>